
  <div class="navbar navbar-inverse bg-inverse">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand">Partners - Open Data Sault Ste Marie</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">It is a team effort</h1>
      <p class="lead">
      </p>
    </div>
  </section>

  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="../">Home</a></li>
    <li class="breadcrumb-item">Partners</li>
  </ol>

  <div class="album text-muted">
    <div class="container">
      <div class="row">
        <h3>Current partners:</h3>
      </div>
      <div class="row">
        <p>
            <ul>
                <li>You! We accept data from the public and anyone who can help us crowdsource data</li>
            </ul>
        </p>
      </div>
    </div>
  </div>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Connect with us via Facebook: <a href="https://www.facebook.com/groups/SooOpenData">Soo Open Data</a>.</p>
      <p>Website codebase fully available at: <a href="https://github.com/StartUpSault/OpenDataSaultWebsite">Github</a>!</p>
    </div>
  </footer>