<footer class="text-muted">
    <div class="container">
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
    <p>Connect with us via Facebook: <a href="https://www.facebook.com/groups/138489013578977/">Sault Ste. Marie Open Data</a>.</p>
    <p>Twitter: <a href="https://twitter.com/SooOpenData">@SooOpenData</a></p>
    <p>Website codebase fully available at: <a href="https://github.com/StartUpSault/OpenDataSaultWebsite">Github</a>!</p>
    <p>Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
    </div>
</footer>