    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand-header">Open Data - Sault Ste Marie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Using data for awesome stuff</h1>
        <p class="lead text-muted">
          We crowdsource data, get data from partners and encourage the use of data to benefit all people living or visiting Sault Ste. Marie!
        </p>
        <p>
          <a href="https://www.facebook.com/groups/138489013578977/" class="btn btn-primary">Join FB Community</a>
          <!-- Add feature for people to request data sets: <a href="#" class="btn btn-secondary">Request data</a>-->
        </p>
      </div>
    </section>

    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
      <li class="breadcrumb-item"><a href="./about/index">About</a></li>
      <li class="breadcrumb-item"><a href="./crash_data/index">Crash Data</a></li>
    </ol>

    <div class="album text-muted">
      <div class="container">
        <div class="row">
          <h2>Data tracked to improve our city</h2>
        </div>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>

    <div class="album text-muted">
      <div class="container">
        <div class="row">
          <h2>Our datasets</h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <%= image_tag "carCrashData.jpg" %>
              <p class="card-text">Accident data for Sault Ste. Marie area.</p>
              <a href="./crash_data/index" class="btn btn-primary">View data</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <%= image_tag "PublicTransitData.jpg" %>
              <p class="card-text">Details for public transit data in the city.</p>
              <a href="#" class="btn btn-secondary">Coming soon</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <%= image_tag "Thumbnail.png" %>
              <p class="card-text">Suggest or request data on something.</p>
              <a href="#" class="btn btn-secondary">Coming soon</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Connect with us via Facebook: <a href="https://www.facebook.com/groups/138489013578977/">Sault Ste. Marie Open Data</a>.</p>
        <p>Website codebase fully available at: <a href="https://github.com/StartUpSault/OpenDataSaultWebsite">Github</a>!</p>
      </div>
    </footer>