
    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">About - Open Data Sault Ste Marie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">What is open data?</h1>
        <p class="lead text-muted">
          Making our community better through data.
        </p>
      </div>
    </section>

    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="../">Home</a></li>
      <li class="breadcrumb-item">About</li>
      <li class="breadcrumb-item"><a href="../crash_data/index">Crash Data</a></li>
    </ol>

    <div class="album text-muted">
      <div class="container">
        <div class="row">
        <p>Open Data is defined as structured data that is machine-readable, freely shared, used and built on without restrictions. More great resources and information is available at the <a href="http://open.canada.ca/en/open-data" target="_blank">Canada Open Data website</a></p>

        <p>The Open Definition provides a more detailed definition of Open Data. To summarize the most important points:</p>

        <p><b>Availability and Access:</b> the data must be available as a whole and at no more than a reasonable reproduction cost, preferably by downloading over the internet. The data must also be available in a convenient and modifiable form.</p>

        <p><b>Re-use and Redistribution:</b> the data must be provided under terms that permit re-use and redistribution including the intermixing with other datasets.</p>
        <p><b>Universal Participation:</b> everyone must be able to use, re-use and redistribute. There should be no discrimination against fields of endeavour or against persons or groups. For example, 'non-commercial' restrictions that would prevent 'commercial' use, or restrictions of use for certain purposes (e.g. only in education), are not allowed.<p>
        </div>
        <p><h3>Other sources of data:</h3>
            <ul>
                <li><a href="http://open.canada.ca/en/open-data" target="_blank">Canada Open Data examples</a></li>
            </ul>
        </p>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Connect with us via Facebook: <a href="https://www.facebook.com/groups/138489013578977/">Sault Ste. Marie Open Data</a>.</p>
        <p>Website codebase fully available at: <a href="https://github.com/StartUpSault/OpenDataSaultWebsite">Github</a>!</p>
      </div>
    </footer>