<%= render "shared/header" %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">How you can get involved?</h1>
    <p class="lead">
    <ul>
        <li>Help us enter data into excel sheets to build our own dataset</li>
        <li>Help us or learn to do web development to maintain/improve the website</li>
        <li>Brainstorm ideas on projects to take on</li>
        <li>Reach out to other organizations to help us build partners to help us do great things</li>
        <li>Anything else you can think of!</li>
    </ul>
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
      <div class="col-lg-4 col-md-4 w3layouts-right-side-img">
        <div class="w3layouts-left-side-img">
            &nbsp;
        </div>
        <div class="abut-inner-wls-head">
            <h4 class="py-3">Facebook</h4>
            <p>Join our <a href="https://www.facebook.com/SooOpenData" target="_blank">Facebook community</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 w3layouts-right-side-img">
        <div class="abut-inner-wls-head mb-3">
            <h4 class="pb-3">Twitter</h4>
            <p>You can also contact us via <a href="https://twitter.com/SooOpenData" target="_blank">Twitter</a></p>
        </div>
        <div class="w3layouts-left-side-img">
          &nbsp;
        </div>
      </div>
      <div class="col-lg-4 col-md-4 w3layouts-right-side-img">
        <div class="w3layouts-left-side-img">
          &nbsp;
        </div>
        <div class="abut-inner-wls-head">
            <h4 class="py-3">Github</h4>
            <p>Reach out to us via <a href="https://github.com/StartUpSault/OpenDataSaultWebsite/issues" target="_blank">Github!</a></p>
        </div>
      </div>
  </div>
</div>

<%= render "shared/footer" %>
